body {
  display: flex;
  width: 95vw;
  height: 95vh;
  align-items: center;
  justify-content: center;
}

.bounce {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 100px 1px red, 0px 0px 100px 20px orange;
  background-image: linear-gradient(to bottom right, orangered, orange 50%);
  border-radius: 50%;
  animation: bounce 1s infinite;
}
$partenza: 0px;
$distanza: -30px;
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY($partenza);
  }
  40% {
    transform: translateY($distanza);
  }

  60% {
    transform: translateY(calc($distanza/2));
  }
}
